#display-order{
  display: none;
}
#newOrder{
  display: none;
}
#orderSheet {
  background-image: bluedoor.jpg;
  background-repeat: no-repeat;
  background-position: fixed;
  background-position: center;
}
